[color]
    ui = auto
[alias]
    st = status -sb
    co = checkout
    ; dc = diff --cached
    br = branch
    ci = commit
    df = diff
    dfs = diff --staged
[github]
    user = furu
[push]
	default = simple
[include]
    path = .gitconfig.local
