[user]
    email = ba09219@gmail.com
    name = furu
[color]
    ui = auto
[core]
    ; editor = mvim -f
    editor = mvim --remote-tab-wait-silent
[alias]
    st = status -sb
    co = checkout
    ; dc = diff --cached
    br = branch
    ci = commit
    df = diff
    dfs = diff --staged
[github]
    user = furu
